<!DOCTYPE html>

<html>
  <head>
    <title>byb core utils</title>
    <script src="{{ static_url('byb.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ static_url('byb.css') }}">
  </head>

  <body>

    <div class="upper_page_container">

      <header class="info_elem">
        <h1>Backyardbot</h1>
      </header>

    </div>

    <div class="upper_page_container">

      <div class="left_box info_elem">

        {% comment This will initialize all given plugins. %}
        {% for plugin in plugins %}
          <div class="plugin_tab">
            {% module BybPluginUIModule(plugin) %}
          </div>
        {% end %}

      </div>

      <div class="right_box">

        <div class="right_box_elem info_elem">
          Box contents
        </div>

      </div>

    </div>

  </body>
</html>