
#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.info_elem_hover {
  background-color: white;
  padding: 0.7em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: .2em;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/*
#text{
  font-size: 50px;
  color: black;
}

.overlay_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.overlay_elem {
  flex: 1 0 200px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chbx_elem {
  float: left;
  white-space: nowrap;
}
*/

.selector_conti {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto;

  margin-top: 20px;
  margin-bottom: 20px;
}

.selector_conti::after {
  content: "";
  clear: both;
  display: table;
}

.selector_center {
  margin: auto;
}

.selector_box {
  background-color: #e2e2e2;
  width: 55px;
  height: 25px;
  float: left;
  margin-left: 4px;
  margin-right: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 4px solid transparent;
  color: #424242;
}

.selector_box:hover {
  background-color: #cacaca;
}

.selector_box_selected {
  background-color: #FFFFFF;
  border: 4px solid #108f21;
  border-radius: 4px;
  color: #000000;
}


.selector_bordered {
  clear: both;
  border: 1px solid red;
}
