
body {
  background-color: rgb(226, 255, 199);
  font-family: "Arial";
  /*
  background: rgba(243,255,230,1);
  background: linear-gradient(to bottom, rgba(243,255,230,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
  */
}

.plugin_view {
  /* debug: */
  border: 1px solid blue;
  overflow: hidden;
}

header {
  width: 100%;
}

.upper_page_container {
  margin: auto;
  margin-top: -10px;
  width: 96%;
  max-width: 80em;
  display: flex;
  flex-flow: row wrap;
}

.lower_page_container {
  margin: auto;
  width: 96%;
  max-width: 80em;
  display: flex;
  flex-flow: column wrap;
}

h1 {
  font-size: 40px;
  font-size: 4.3vmin;
  font-style: italic;
  padding-left: 3%;
  margin-top: 2px;
  margin-bottom: 2px;
  float:left;
}

.info_elem {
  background-color: white;
  margin: 1em;
  padding: 0.7em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: .2em;
}

.right_box {
  display: flex;
  flex-direction: column;
  flex: 1 1 20em;

}

.right_box_elem {
  /* flex: flex-grow flex-shrink flex-basis
    flex-grow: proportionaler Wert, um übrigen Platz zu verteilen
    flex-shrink: Definiert, ob ein Flexitem schrumpfen darf
    flex-basis: default size, before the remaining space ist distributed
  */
  flex: 1 1 auto;

  display: flex;
  flex-wrap: wrap;

}

.left_box {
  flex: 6 1 28em;
}

.box_title {
  text-align: center;
  flex: 0 1 100%;
  font-style: italic;
  margin-bottom: 7px;
}

.box_content {
  text-align: center;
  flex: 1 1 100%;
  margin: 3px;
}

.box_bold {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  flex: 0 0 100%;
}

.box_button {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 7px;
  width: 30%;
  min-width: 250px;
  background: #d9d9d9;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
