<!DOCTYPE html>

<html>
  <head>
    <title>byb core utils</title>
    {% for stylesheet in stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
  </head>

  <body>

    <div class="upper_page_container">

      <header class="info_elem">
        <h1>Backyardbot</h1>
      </header>

    </div>

    <div class="upper_page_container">


      {# This will initialize all given plugins. #}
      {% for plugin in plugin_renderers %}
        <div class="left_box info_elem">
          <div class="plugin_tab">
            <div class="plugin_view">
              {{ plugin(plugin, css_filelist, js_filelist) }}
            </div>
          </div>
        </div>
      {% endfor %}


      <div class="right_box">

        <div class="right_box_elem info_elem">
          Box contents
        </div>

      </div>

    </div>

    {# TODO: Add template code for overlay #}

  {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  </body>
</html>