<!--
index.html
backyardbot

Created: October 2020
Author: Marius Montebaur
montebaur.tech, github.com/montioo
-->


<!DOCTYPE html>

<html>
  <head>
    <title>backyardbot</title>
    {% for stylesheet in stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
  </head>

  <body>

    <div class="upper_page_container">

      <header class="info_elem">
        <h1><a target="_blank" rel="noopener noreferrer"
          style="text-decoration: none; color: black"
          href="https://github.com/montioo/backyardbot">backyardbot</a></h1>
        <div id="connection_state_label">
          <!-- Connection State:<br> -->
          <label id="connection_state" style="font-weight:bold;"></label>
        </div>
      </header>

    </div>

    <div class="upper_page_container">

        <div class="left_box info_elem">
          <div class="plugin_tab">
            <div class="plugin_view">
              {{ image_display() }}
            </div>
          </div>
        </div>

        <div class="right_box">
          <div class="info_elem">
          <div class="plugin_tab">
            <div class="plugin_view">
              {{ timecontrol() }}
            </div>
            </div>
          </div>

          <div class="info_elem">
          <div class="plugin_tab">
            <div class="plugin_view">
              {{ sprinklerinterface() }}
            </div>
          </div>
          </div>
        </div>

    </div>

    <div class="upper_page_container">
      <div class="left_box info_elem">
        <div class="plugin_tab">
          <div class="plugin_view">
            {{ timetable() }}
          </div>
        </div>
      </div>
    </div>

    <div class="upper_page_container">
      {# This will initialize all given plugins. #}
      {% for plugin_renderer in plugin_renderers %}
      <div class="left_box info_elem">
        <div class="plugin_tab">
          <div class="plugin_view">
            {{ plugin_renderer() }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {# TODO: Add template code for overlay #}

    {% for script in scripts %}
      <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
  </body>
</html>